html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-shape-divider-bottom-1592667609 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1592667609 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 153px;
}

.custom-shape-divider-bottom-1592667609 .shape-fill {
  fill: var(--body-bg);
}

body {
  position: absolute;
  overflow-x: hidden;
}

.container {
  width: 80%;
  margin: auto;
}

.flex {
  display: flex;
  gap: 1rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

/* fonts */
.playfair-display {
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 450;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.inter-italic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
}

/* root variables */
:root {
  --color-pink: rgba(183, 75, 142, 0.676);
  --color-dark: #2e2e2e;
  --color-dark-gray: rgb(58, 58, 58);
  --sea: #66a5ad;
  --light-blue: #c4dfe6;
  --blue: #9adee7ab;

  --body-bg: white;
  --text-color: var(--color-dark);
  --border-color: var(--color-dark);

  /* for dark mode */
  --dark-bg: var(--color-dark);
  --dark-text-color: #f1f1f2;
  --dark-border-color: #fff;
  --dark-blue: #172c66;
  --darkest-blue: #172c66;

  --shadow: 4px -2px 40px 1px rgba(28, 28, 28, 0.628);
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.title span {
  border-bottom: 3px solid var(--sea);
}

.wrapper {
  background: var(--body-bg);
  color: var(--text-color);
  overflow-x: hidden;
}

.wave {
  background-color: var(--blue);
  position: relative;
  min-height: 90vh;
}

header {
  display: flex;
  align-items: center;
  top: 0;
  width: 100vw;
  height: 3rem;
  background: var(--body-bg);
}

.header {
  /* margin: 0 40px; */
  /* padding: 1rem 5rem 1rem 0; */
  padding: 1rem 3rem;
  align-items: center;
  position: fixed;
  background: var(--body-bg);
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  position: relative;
  align-items: center;
}

.logo span {
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

/* .logo > div:nth-child(1) { */
.logo :first-child {
  font-weight: bold;
  margin-right: 1rem;
}

.line::before {
  content: "";
  background-color: var(--sea);
  width: 4px;
  height: 100%;
  position: absolute;
  left: 55%;
  top: 0px;
}

.navigation {
  list-style: none;
  font-size: 18px;
}

.navigation li a {
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.navigation li:hover {
  color: var(--sea);
  transition: all 0.3s;
}

/* <!-- hero --> */
.hero-section {
  margin-top: 12rem;
  max-height: 83vh;
  color: var(--dark-blue);
  justify-content: center;
  padding: 80px 0;
  gap: 300px;
}

.aboutside {
  flex-direction: column;
  justify-content: center;
  gap: 0px;
  width: 450px;
}

.aboutside h3 {
  font-size: 34px;
  font-weight: 550;
  animation: slideBottom 1s ease forwards;
  opacity: 0;
  animation-delay: 0.3s;
}

.aboutside h3:nth-of-type(2) {
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.9s;
}

.aboutside span {
  color: rgb(2, 169, 194);
}

.aboutside h1 {
  font-size: 40px;
  font-weight: 800;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.6s;
}

/* <!-- banner --> */
.banner {
  margin-top: 1rem;
  /* border: 2px solid var(--border-color); */
  /* border-radius: 118px; */
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem 2rem 4rem;

  /* gap: 120px; */
  /* box-shadow: var(--shadow); */
}
.info-content,
.btext,
.info-content > div {
  justify-content: center;
}

.btext {
  flex-direction: column;
  gap: 1px;
}

.banner i {
  font-size: 2rem;
}

.banner .info-content div span {
  font-weight: bolder;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.banner .info-content div p {
  color: var(--sea);
  margin: 0;
}

.banner .icon-container {
  background: #66a5ad9c;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;

  justify-content: center;
  align-items: center;
}

.info-divider {
  background: rgb(168, 165, 165);
  width: 2px;
  height: 90px;
}

/* <!-- skills --> */
.skills {
  padding-top: 2rem;
}

.skills-container {
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills-container > div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.skills-container > div i {
  font-size: 3rem;
}

/* <!-- my recent work --> */
.projects {
  margin-top: 4rem;
}
.project-container {
  padding: 2rem;
  grid-template-areas:
    "card1 card2"
    "card3 card4";
}

.project-card1 {
  grid-area: card1;
}

.project-card2 {
  grid-area: card2;
}

.project-card3 {
  grid-area: card3;
}

.project-card4 {
  grid-area: card4;
}

.project-container > div {
  box-shadow: var(--shadow);
  padding: 2rem;
  border-radius: 20px;
}

/* <!-- about me --> */
.about {
  color: #000;
  background: var(--blue);
  padding: 3rem;
  /* padding-bottom: 2rem; */
  margin-top: 3rem;
  /* width: 120vw; */
}

.about-content {
  align-items: center;
  justify-content: center;
}

.about .contentside h2 {
  /* display: flex; */
  font-size: 2rem;
  letter-spacing: 4px;
}

.contentside p:nth-child(4) {
  font-weight: bold;
  font-size: 1.3rem;
}

.contentside .tag {
  font-size: 1.3rem;
  font-weight: bold;
}

.contentside .tag + div > span {
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
}
.contentside .tag + div > span:hover {
  cursor: pointer;
  background: gray;
  transition: all 0.5s;
}

.dwnldcv button {
  background: var(--dark-bg);
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 22px;
  cursor: pointer;
}

/* <!-- contact --> */
.contact {
  /* padding: 4rem 0; */
  flex-direction: column;
  align-items: center;
  /* width: 350px;
  margin: auto; */
}
.contactways {
  justify-content: space-between;
  padding: 0 10rem;
}

.contactways i {
  font-size: 4rem;
}

.contact .email {
  background: var(--color-dark-gray);
  color: var(--dark-text-color);
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 40px;
  margin: auto;
  font-size: 1.3rem;
}

.contact .email-section .email {
  align-items: center;
  justify-content: center;
}

.contact .email-section {
  align-items: center;
}

.contact .email-section .send {
  background: var(--sea);
  width: 3rem;
  height: 3rem;
  font-size: 1.6rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
/* <!-- footer --> */
footer {
  background: #000;
  color: white;
  padding: 3rem;
  margin-top: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-left: 45vh; */
}

footer ul {
  list-style: none;
  padding-inline-start: 0;
}

footer .top {
  width: 300px;
  justify-content: space-between;
  /* padding: 0 100px; */
  gap: 5rem;
}

.totop {
  font-size: 3rem;
  /* padding: 2rem 2.4rem; */
  width: 70px;
  height: 70px;
  background: #66a5ad92;
  border-radius: 50%;
  position: fixed;
  bottom: 100px;
  right: 50px;

  justify-content: center;
  align-items: center;
}

/* hamburger menu */
[for="hamburgerMenu"],
#hamburgerMenu {
  display: none;
  cursor: pointer;
}

/* dark mode */
.label {
  display: block;
  position: fixed;
  width: 58px;
  height: 30px;
  top: 100px;
  left: 20px;
  background: rgb(235, 233, 233);
  cursor: pointer;
  border-radius: 200px;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(189, 189, 189, 0.16);

  transition: 0.3s;
  z-index: 1;
}

.label:after {
  content: "";
  width: 22px;
  height: 22px;
  top: 4px;
  left: 4px;
  position: absolute;
  background: linear-gradient(180deg, rgb(245, 186, 76), rgb(219, 208, 4));
  border-radius: 20px;
  transition: 0.3s;
}

#darkMode {
  display: none;
}

#darkMode:checked + .label {
  background: rgb(139, 139, 139); /*for toggle button*/
}

#darkMode:checked + .label:after {
  left: 28px;
  transform: translateX(2px);
  box-shadow: inset 9px -4px 0px 0px black;
  /* background: linear-gradient(180deg, rgb(116, 115, 115), rgb(177, 177, 177)); */
  background: rgb(139, 139, 139);
}

#darkMode:checked + .label + .wrapper {
  .banner,
  .project-container > div {
    background: var(--color-dark-gray);
  }

  .aboutside span {
    color: rgb(188, 209, 212);
  }

  --body-bg: var(--dark-bg);
  --text-color: var(--dark-text-color);
  --border-color: var(--dark-border-color);
}

/* mobile device */
@media (max-width: 430px) {
  .logo > span {
    font-size: x-large;
  }

  .line::before {
    left: 35%;
    top: 0px;
  }

  .banner {
    flex-direction: column;
    align-items: flex-start;
    /* padding: 32px 200px; */
    margin-top: 3rem;
    padding-left: 20%;
  }

  .info-divider {
    display: none;
  }

  .projects .project-container {
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4";
    /* grid-template-columns: 1fr; */
    gap: 2rem;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
  }

  /* Menu */
  .menu {
    /* display: none; */
    position: absolute;
    width: 250px;
    height: 100vh;
    top: 3.8rem;
    left: 180vw;
    background: var(--body-bg);
    box-shadow: 4px -2px 40px 1px rgba(50, 50, 50, 0.525);
    transition: left 0.3s;
  }

  .menu .navigation {
    flex-direction: column;
    gap: 2.5rem;
  }

  [for="hamburgerMenu"] {
    display: block;
    cursor: pointer;
  }

  #hamburgerMenu:checked + .menu {
    left: calc(170vw - 250px);
  }
}

/* ipad device */
@media (max-width: 768px) {
  /* .hero {
    grid-template-areas:
      "right left"
      "left right";
  } */
  /* 
  .hero-section {
    margin-top: 7rem;
  } */

  /* .right {
    justify-content: center;
    align-items: center;
  } */

  /* .left {
    align-items: center;

    margin-left: 0;
  } */

  /* justify-content: center; */
  /* padding-top: 7rem; */

  .banner {
    flex-direction: column;
    align-items: flex-start;
    /* padding: 32px 200px; */
    margin-top: 3rem;
    padding-left: 20%;
  }

  .info-divider {
    display: none;
  }

  .projects .project-container {
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4";
    /* grid-template-columns: 1fr; */
    gap: 2rem;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
  }

  /* Menu */
  .menu {
    /* display: none; */
    position: absolute;
    width: 250px;
    height: 100vh;
    top: 4.3rem;
    left: 110vw;
    background: var(--body-bg);
    box-shadow: 4px -2px 40px 1px rgba(50, 50, 50, 0.525);
    transition: left 0.3s;
  }

  .menu .navigation {
    flex-direction: column;
    gap: 3rem;
  }

  [for="hamburgerMenu"] {
    display: block;
    cursor: pointer;
  }

  #hamburgerMenu:checked + .menu {
    left: calc(100vw - 250px);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
