html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
}

.flex {
  display: flex;
  gap: 1rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.playfair-display {
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 450;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.inter-italic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
}

/* root variables */
:root {
  --color-pink: rgba(183, 75, 142, 0.676);
  --color-dark: #2e2e2e;
  --color-dark-gray: rgb(58, 58, 58);
  --sea: #66a5ad;
  --light-blue: #c4dfe6;

  --body-bg: white;
  --text-color: var(--color-dark);
  --border-color: var(--color-dark);

  /* for dark mode */
  --dark-bg: var(--color-dark);
  --dark-text-color: #f1f1f2;
  --dark-border-color: #fff;

  --shadow: 4px -2px 40px 1px rgba(28, 28, 28, 0.628);
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.title span {
  border-bottom: 3px solid var(--sea);
}

.wrapper {
  background: var(--body-bg);
  /* height: 100vh; */
  color: var(--text-color);
  overflow-x: hidden;
}

/* <!-- navbar --> */
header {
  box-shadow: var(--shadow);

  display: flex;
  align-items: center;
  top: 0;
  position: fixed;
  width: 100vw;
  background: var(--body-bg);
}

header .header {
  margin: 0 40px;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.logo {
  font-size: 1.3rem;
  position: relative;
  align-items: center;
}

/* .logo > div:nth-child(1) { */
.logo :first-child {
  font-weight: bold;
  margin-right: 1rem;
}

.line::before {
  content: "";
  background-color: var(--sea);
  width: 4px;
  height: 100%;
  position: absolute;
  left: 43%;
  top: 4px;
}

.navigation {
  list-style: none;
  /* font-weight: bold; */
  font-size: 16px;
}

.navigation li:hover {
  color: var(--sea);
  transition: all 0.3s;
}

/* <!-- hero --> */
.hero-section {
  margin-top: 8rem;
  max-height: 60vh;
}

.hero {
  background: var(--light-blue);
  grid-template-areas: "right left";
  padding: 2rem 2rem;
}

.left {
  grid-area: left;
  flex-direction: column;
  margin-left: 10vw;
  justify-content: center;
}

.left div span {
  font-weight: bold;
  font-size: 1.3rem;
}

.left .tag {
  font-size: 2.2rem;
  font-weight: bolder;
  letter-spacing: 3px;
}

.left button {
  background: var(--dark-bg);
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 22px;
  cursor: pointer;
}

.right {
  grid-area: right;
  justify-content: flex-end;
  align-items: center;
  margin: -5rem;
}

.right img {
  height: 100%;
}

/* <!-- banner --> */
.banner {
  margin-top: 3rem;
  /* border: 2px solid var(--border-color); */
  border-radius: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  box-shadow: var(--shadow);
}

.banner i {
  font-size: 2rem;
}

.banner .info-content div span {
  font-weight: bolder;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.banner .info-content div p {
  color: var(--sea);
}

.banner .icon-container {
  background: var(--sea);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;

  justify-content: center;
  align-items: center;
}

.info-divider {
  background: gray;
  width: 2px;
  height: 50px;
}

/* <!-- skills --> */
.skills {
  padding-top: 3rem;
}

.skills-container {
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills-container > div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.skills-container > div i {
  font-size: 3rem;
}

/* <!-- my recent work --> */
.projects {
  margin-top: 4rem;
}
.project-container {
  padding: 2rem;
  grid-template-areas:
    "card1 card2"
    "card3 card4";
}

.project-card1 {
  grid-area: card1;
}

.project-card2 {
  grid-area: card2;
}

.project-card3 {
  grid-area: card3;
}

.project-card4 {
  grid-area: card4;
}

.project-container > div {
  box-shadow: var(--shadow);
  padding: 2rem;
  border-radius: 20px;
}

/* <!-- about me --> */
.about {
  background: var(--light-blue);
  padding: 2rem;
}

.about-content {
  align-items: center;
  justify-content: center;
}

.about .contentside h2 {
  /* display: flex; */
  font-size: 2rem;
  letter-spacing: 4px;
}

.contentside p:nth-child(4) {
  font-weight: bold;
  font-size: 1.3rem;
}

.contentside .tag {
  font-size: 1.3rem;
  font-weight: bold;
}

.contentside .tag + div > span {
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
}
.contentside .tag + div > span:hover {
  cursor: pointer;
  background: gray;
  transition: all 0.5s;
}

/* <!-- contact --> */
.contact {
  padding: 4rem 0;
  /* width: 350px;
  margin: auto; */
}
.contactways {
  justify-content: space-between;
  padding: 0 10rem;
}

.contactways i {
  font-size: 4rem;
}

.contact .email {
  background: var(--color-dark);
  color: var(--dark-text-color);
  align-items: center;
  justify-content: center;
  width: 30%;
  padding: 1rem 1.2rem;
  border-radius: 40px;
  margin: auto;
  font-size: 1.3rem;
}

.contact .email-section .email {
  align-items: center;
  justify-content: center;
}

.contact .email-section {
  align-items: center;
}

.contact .email-section .send {
  background: var(--sea);
  width: 3rem;
  height: 3rem;
  font-size: 1.6rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
/* <!-- footer --> */
footer {
  background: #000;
  color: white;
  padding: 3rem;
  margin-top: 3rem;
  flex-direction: column;
  align-items: center;
}

footer ul {
  list-style: none;
  padding-inline-start: 0;
}

footer .top {
  width: 300px;
  justify-content: space-between;
  /* padding: 0 100px; */
  gap: 5rem;
}

.totop {
  font-size: 3rem;
  /* padding: 2rem 2.4rem; */
  width: 70px;
  height: 70px;
  background: var(--sea);
  border-radius: 50%;
  position: fixed;
  bottom: 100px;
  right: 50px;

  justify-content: center;
  align-items: center;
}

/* hamburger menu */
[for="hamburgerMenu"],
#hamburgerMenu {
  display: none;
  cursor: pointer;
}

/* mobile device */
@media (max-width: 768px) {
  .hero {
    grid-template-areas:
      "right"
      "left";
  }

  .right {
    justify-content: center;
    align-items: center;
  }

  .left {
    /* justify-content: center; */
    padding-top: 7rem;
    align-items: center;

    margin-left: 0;
  }

  .banner {
    flex-direction: column;
    align-items: flex-start;
    /* padding: 32px 200px; */
    margin-top: 23rem;
    padding-left: 20%;
  }

  .info-divider {
    display: none;
  }

  .projects .project-container {
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4";
    /* grid-template-columns: 1fr; */
    gap: 2rem;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
  }

  /* Menu */
  .menu {
    /* display: none; */
    position: absolute;
    width: 250px;
    height: 100vh;
    top: 3.7rem;
    left: 100vw;
    background: var(--body-bg);
    box-shadow: 4px -2px 40px 1px rgba(50, 50, 50, 0.525);
    transition: left 0.3s;
  }

  .menu .navigation {
    flex-direction: column;
    gap: 2.5rem;
  }

  [for="hamburgerMenu"] {
    display: block;
    cursor: pointer;
  }

  #hamburgerMenu:checked + .menu {
    left: calc(100vw - 250px);
  }
}

.label {
  display: block;
  position: relative;
  width: 58px;
  height: 30px;
  top: 100px;
  left: 20px;
  background: rgb(235, 233, 233);
  cursor: pointer;
  border-radius: 200px;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(189, 189, 189, 0.16);

  transition: 0.3s;
}

.label:after {
  content: "";
  width: 22px;
  height: 22px;
  top: 4px;
  left: 4px;
  position: absolute;
  background: linear-gradient(180deg, rgb(245, 186, 76), rgb(219, 208, 4));
  border-radius: 20px;
  transition: 0.3s;
}

#darkMode {
  display: none;
}

#darkMode:checked + .label {
  background: rgb(139, 139, 139);
}

#darkMode:checked + .label:after {
  left: 28px;
  transform: translateX(2px);
  box-shadow: inset 9px -4px 0px 0px black;
  /* background: linear-gradient(180deg, rgb(116, 115, 115), rgb(177, 177, 177)); */
  background: rgb(139, 139, 139);
}

#darkMode:checked + .label + .wrapper {
  header,
  .banner,
  .project-container > div {
    background: var(--color-dark-gray);
  }
  --body-bg: var(--dark-bg);
  --text-color: var(--dark-text-color);
  --border-color: var(--dark-border-color);
}
